/* =================== GOOGLE FONTS =================== */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');



/* =================== ROOT STYLES =================== */
* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Work Sans', sans-serif;
}



/* =================== COMMON STYLES =================== */
.btn-primary, .btn-secondary, .btn-light {
    color: #fff;
    border: 0;
    border-radius: 20px;
    padding: 20px 40px;
    cursor: pointer;
}

.btn-primary {
    background-color: #FF42A5;
}

.btn-secondary {
    background-color: #4EC5F7;
}

.btn-light {
    background-color: #FFF;
}

.btn-primary:hover {
    background-color: #FF2796;
}

.btn-secondary:hover {
    background-color: #00B3FF;
}

.btn-light:hover {
    background-color: #E6E6E6;
}

.text-highlight {
    color: #FF42A5;
}

.text-light-gray {
    color: #534C64;
}

.text-gradiant {
    background: rgb(135, 88, 241);
    background: linear-gradient(0deg, rgba(135, 88, 241, 1) 0%, rgba(249, 72, 160, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
}

.section-description {
    font-size: 1.125rem;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
}

.text-right {
    text-align: right;
}

.text-light {
    color: #fff;
}

.text-upper {
    text-transform: uppercase;
}

.text-primary {
    color: #FF42A5;
}

.fw-bold {
    font-weight: 700;
}



/* =================== HEADER STYLES =================== */
header {
    box-shadow: 0 4px 6px -6px #000000b4;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    padding: 20px 50px;
    margin: 0 auto;
}

.brand-logo,
.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .brand-logo img {
    height: 30px;
    width: 60px;
}

nav .logo-text {
    font-size: 2.813;
    font-weight: 700;
}

nav .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-items li {
    list-style: none;
    font-size: 1.125rem;
    color: #3C354F;
}

nav .youtube {
    color: #F61C0D;
    margin-right: 10px;
}

nav .tiktok {
    filter: drop-shadow(2px 0px 0px #FF42A5);
}

.nav-items li a {
    text-decoration: none;
}

.nav-items li a:hover,
nav .youtube:hover {
    color: #FF42A5;
}

.nav-items .follow {
    background-color: #0b022346;
    padding: 16px 24px;
    border-radius: 8px;
}



/* =================== MAIN SECTION STYLES =================== */
/* BANNER */
.banner-container {
    background-image: url("../images/Group 14.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-play-text {
    font-size: 3rem;
}

.banner-content .goat {
    font-size: 5.938rem;
    font-weight: 800;
}

.download-info {
    font-size: 1.25rem;
    margin: 30px 0;
}

.banner-content i {
    font-size: 1rem;
    margin-right: 10px;
}

.btn-group {
    margin: 0 auto;
}

.banner-img-container img {
    width: 100%;
    height: 100%;
}


/* GAMERS SECTION */
.gamers-container {
    background-color: #ff42a40a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.gamers-container img {
    width: 50%;
}

.gamers-content,
.play-games-content {
    text-align: right;
}

.gamers-content p {
    margin: 10px 0;
}

.gamers-purpose {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px 0;
}

.gamers-qout {
    font-size: 2rem;
    font-weight: 700;
}

/* ONLINE GAMES */
.online-games {
    margin: 100px 0px;
}

.online-games-info {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 50px;
}

.card {
    height: 485px;
    width: 340px;
    position: relative;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}

.play i {
    color: #fff;
    font-size: 2rem;
}

.play p {
    font-size: 1.125rem;
    font-weight: 500;
    color: #FF42A5;
}

.card img {
    width: 100%;
    height: 90%;
    border: 4px solid transparent;
    border-radius: 20px
}

.card img:hover {
    border: 4px solid #FF42A5;
    filter: brightness(50%);
}

.card img:hover ~ .play {
    display: block;
}

.online-games-info p, .card p {
    margin-top: 10px;
}

/* PLAY GAMES */
.play-games {
    margin-bottom: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-games-content {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
}

.play-games-img {
    width: 50%;
}

.play-games-img img {
    width: calc( 100% - 100px);
    margin-left: 100px;
}

.play-games .badge {
    position: relative;
    width: 300px;
    bottom: 100px;
    left: -100px;
}

.badge img {
    width: 100%;
}

/* CAREER */
.career-container {
    background-repeat: no-repeat;
    background: url("../images/Group 14.png"), #FF42A5;
    background-blend-mode: screen;
    background-position: left top;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career-content {
    width: 50%;
    padding-left: 100px;
}

.career-positions {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

.career-img {
    width: 50%;
}

.career-img img {
    width: 100%;
}

/* GAME CATEGORIES */
.game-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fff9fc;
    padding: 100px 20px;
}

.game-category {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: #FFF;
    border-radius: 50px;
    border: 1px solid #FFF;
}

.hover-active {
    border: 1px solid #FF42A5;
    color: #FF42A5;
}

.game-category:hover .game-category-name {
    color: #FF42A5;
}

.game-category:hover {
    border: 1px solid #FF42A5;
}

.game-category-name {
    font-size: 1rem;
    font-weight: 600;
}

/* =================== FOOTER STYLES =================== */
.footer-container {
    background-color: #0B0223;
    padding: 100px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-nav,
.footer-policies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
    flex-wrap: wrap;
}

.footer-nav li,
.footer-policies li {
    list-style: none;
}

.footer-nav li a,
.footer-policies li a {
    text-decoration: none;
    font-size: 1.125rem;
}

.footer-policies li a:hover {
    color: #FFF;
}

.social-links i {
    font-size: 2.5rem;
    color: #FFF;
    margin: 20px;
}

.footer-nav li:hover a,
.social-links i:hover {
    color: #FF42A5;
}

/* =================== MEDIA QUERY =================== */
/* MOBILE / SMALL DEVICES */
@media screen and (max-width: 567px) {
    .brand-logo {
        margin-bottom: 20px;
    }
    .nav-container,
    .nav-items,
    .gamers-container,
    .card-container,
    .play-games,
    .career-container {
        flex-direction: column;
    }

    .banner-container {
        flex-direction: column-reverse;
        background-position: bottom left;
        margin: 0 30px;
    }

    .banner-content {
        margin: 40px 0;
    }

    .gamers-container {
        background-color: transparent;
        margin-bottom: 100px;
    }

    .gamers-container img,
    .play-games-content,
    .play-games-img,
    .career-content,
    .career-positions,
    .career-img
    {
        width: 100%;
    }

    .gamers-content,
    .play-games-content {
        text-align: center;
    }

    .play-games {
        gap: 20px;
    }

    .play-games-img {
        width: 100%;
    }

    .play-games-img img {
        width: 100%;
        margin-left: 0px;
    }

    .play-games .badge {
        height: 150px;
        width: 150px;
        left: -50px;
    }

    .career-container {
        padding: 40px 20px;
    }

    .game-categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 50px 5px;
        place-items: center;
    }

    .game-category {
        padding: 5px;
    }

    .game-category img {
        width: 20px;
        height: 20px;
    }

    .game-category-name {
        font-size: .7rem;
        font-weight: 400;
    }

    .career-content {
        padding-left: 0px;
    }

    .footer-container {
        padding: 100px 20px;
    }
}

/* TABLET / MEDIUM DEVICES */
@media screen and (min-width: 567px) and (max-width: 992px) {
    .brand-logo {
        margin-bottom: 20px;
    }

    .nav-container,
    .gamers-container,
    .play-games,
    .career-container {
        flex-direction: column;
    }

    .banner-container {
        margin: 40px 10px;
        padding: 10px;
    }

    .gamers-container {
        background-color: transparent;
        margin-bottom: 100px;
    }

    .card-container {
        flex-wrap: wrap;
    }

    .gamers-container img,
    .play-games-content,
    .play-games-img,
    .career-content,
    .career-positions,
    .career-img
    {
        width: 100%;
    }

    .gamers-content,
    .play-games-content {
        text-align: center;
    }

    .play-games {
        gap: 20px;
    }

    .play-games-img {
        width: 100%;
    }

    .play-games-img img {
        width: 100%;
        margin-left: 0px;
    }

    .play-games .badge {
        height: 150px;
        width: 150px;
        left: -50px;
    }

    .career-container {
        padding: 40px 20px;
    }

    .career-content {
        padding-left: 0px;
    }

    .game-categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 50px 20px;
    }

    .game-category {
        padding: 5px 10px;
    }

    .game-category img {
        width: 50px;
        height: 50px;
    }

    .game-category-name {
        font-size: .9rem;
    }

    .footer-container {
        padding: 100px 20px;
    }
}